In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    "Name": ["Alice", "bob", "Charlie", "David", "Eve"],
    "Age": [25, 30, 22, 29, 27],
    "Score": [85, 90, 78, 88, 92]
}
df = pd.DataFrame(data)

NameError: name 'pd' is not defined

Enter numbers separated by spaces:  2 3 7 9

Mean: 5.25
Median: 5.0
Standard Deviation: 2.8613807855648994
Mode: [2, 3, 7, 9]